# Introduction to tuples

Explanation:
Tuples are ordered collections of items that are immutable. they are similar to list,but their immutability makes them different.

In [3]:
#creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst =list()
print(type(lst))
tpl=tuple()   
print(type(tpl))   
# inside this you can put  item

<class 'list'>
<class 'tuple'>

In [7]:
number= tuple([1,2,3,4,5,6])
number

(1, 2, 3, 4, 5, 6)

In [8]:
#list can be converted into tuple and tuple can be converted into list 
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [9]:
mixed_tuple=(1,"hello world", 3.14, True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [10]:
number

(1, 2, 3, 4, 5, 6)

In [11]:
print(number[2])

3

In [ ]:
number[1:4]  #like list we can do slicing as list

(2, 3, 4)

In [ ]:
# we can do concatenated tuple 
cancanate_tuple = number + mixed_tuple
print(cancanate_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, True)

In [15]:
number*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [17]:
#imutable nature of tuple
lst=[1,2,3,4,5]
print(lst)

lst[1]="krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'krish', 3, 4, 5]

In [18]:
# if i want to do similar operation with tuple 
number[1]="krish"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Tuple method
print(number.count(1)) # how many time that element present
print(number.index(3)) # where 3 element id present in the index

1
2

In [ ]:
#packing and unpacking tuple
packed_tuple=1,"hello",3.14
print(packed_tuple)   # when ever their is comma seperate i gis given in packed format

(1, 'hello', 3.14)

In [23]:
#unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [26]:
#unpacking with *
numbers =(1,2,3,4,5,6)
first, *middle, last= numbers   # i know 6 element are their but i am unpacking with variable 
print(first)
print(*middle)
print(middle)

print(last)

1
2 3 4 5
[2, 3, 4, 5]
6

In [34]:
##Nested Tuple 
#tuple inside tuple is nested tuple 
lst=[[1,2,3,4],[1,"hello",3.14,"c"]]
lst[0][2]
#similarly u can apply slicing operation on nested list too 
lst[1][0:3]

[1, 'hello', 3.14]

In [5]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [6]:
#iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item)
    print()

1
2
3

a
b
c

True
False

# Conclusion

Truples are versatile and useful in many real-world scenerios where an imutable and ordered collection items is required. they are commonly used in data structures, function argument and return values, dictionary keys. Understanding how to leaverage tuples effectively can improve the efficently and readablity in your python code.